.header {
  grid-column: full-start/ coll-end 6;
  background-image: linear-gradient(
      rgba($color-secondary, 0.93),
      rgba($color-secondary, 0.93)
    ),
    url(../img/hero.jpeg);
  background-size: cover;
  background-position: center;

  display: grid;
  grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
  grid-template-columns: minmax(min-content, max-content);
  gap: 1.5rem;
  padding: 5vw;
  padding-top: 4rem;
  justify-content: center;

  @include respond(tablet) {
    grid-column: full-start/ -1;
  }
  &__logo {
    height: 3rem;
    justify-self: center;
  }
  &__btn {
    align-self: start;
    justify-self: start;
  }
  &__seenon-text {
    font-size: 1.6rem;
    color: $color-grey-light-2;

    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    gap: 1.5rem;

    &::before,
    &::after {
      content: '';
      display: block;
      height: 1px;
      display: block;
      background-color: currentColor;
    }
  }
  &__seenon-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    justify-items: center;
    align-items: center;
    img {
      max-height: 2.5rem;
      max-width: 100%;
      filter: brightness(70%);
    }
  }
}
