.realtors {
  background-color: $color-secondary;
  grid-column: coll-end 6 / full-end;
  padding: 3rem;

  display: grid;
  align-content: center;
  justify-content: center;
  gap: 2rem;
  justify-items: center;

  @include respond(tablet) {
    grid-column: full-start/ -1;
  }
  @include respond(phone) {
    align-content: start;
    justify-items: start;
    justify-content: start;
  }

  &__list {
    display: grid;
    grid-template-columns: min-content max-content;
    gap: 5vh 2rem;
    align-items: center;

    @include respond(tablet) {
      grid-template-columns: min-content max-content max-content max-content max-content max-content;
    }
    @include respond(phone) {
      grid-template-columns: min-content max-content;
      align-items: start;
    }
  }

  &__img {
    width: 7rem;
    border-radius: 50%;
    display: block;
  }

  &__sold {
    text-transform: uppercase;
    color: $color-grey-light-2;
    margin-top: -3px;
  }
}
